@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

input,
textarea {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(37, 19, 9);
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: center;
  align-items: center; */
  /* overflow-x: hidden;  */
}

body.light-theme {
  background-color: #eeecec;
}

header {
  background-color: rgb(37, 19, 9);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  width: 5rem;
  padding: 0.8rem;
}

.menu {
  display: flex;
  gap: 5rem;
  padding: 0 10px;
}

.menu a {
  display: block;
}

.btn-mobile {
  display: none;
}

header .menu .icones-menu {
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.2s;
}

header .menu .icones-menu:hover,
header .menu .icones-menu.active {
  color: #e5c173;
}

header .menu .icones-menu::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #e5c173;
  position: absolute;
  left: 0;
  bottom: -0.5rem;

  transition: width 0.2s;
}

header .menu .icones-menu:hover::after,
header .menu .icones-menu.icones-menu.active::after {
  width: 100%;
}

/* Theme */

.switch {
  position: relative;
  width: 3.5rem;
  height: 1.8rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5c173;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  z-index: 300;
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0.3rem;
  top: 50%;
  background-color: rgb(37, 19, 9);
  transition: 0.4s;
  border-radius: 20px;
  transform: translateY(-50%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(37, 19, 9);
}

input:checked + .slider::before {
  left: calc(100% - 1.7rem);
  background-color: #e5c173;
}

/* Layout */
.section {
  padding: 12.5rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 6rem;
  /* margin-left: 1.5rem;
  margin-right: 1.5rem; */
}

.img-container {
  text-align: center;
  /* display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.1rem; */
}

.text-container {
  width: 580px;
  text-align: left;
}

/* Seção Apresentação: home */
.image-galho-home {
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.title {
  font-size: 3rem;
  color: #e5c173;
}

.sub-title {
  font-size: 3rem;
  color: #fff;
}

.text {
  color: #fff;
  line-height: 28px;
  margin-top: 20px;
}

.image-cafe {
  min-width: 200px;
  z-index: 200;
}

.image-grao-home {
  max-width: 250px;
  position: absolute;
  top: 140px;
  left: -320px;
}

/* Seção about */

.about {
  order: 2;
}

.image-xicara {
  width: 500px;
  /* max-width: 600px; */
  height: auto;
  order: 1;
  overflow: hidden;
}

.text-image {
  color: #e5c173;
  font-size: 1.05rem;
  order: 1;
}

.first-textabout {
  color: #fff;
  font-size: 1.05rem;
  text-transform: uppercase;
}
.secundy-textabout {
  color: #e5c173;
  font-size: 3rem;
}

.about {
  position: relative;
}

.image-galho-about {
  position: absolute;
  width: 500px;
  top: 200px;
  left: -200px;
  z-index: -1;
  transform: rotate(180deg);
}

/* Seção Produtos */

.name {
  color: #e5c173;
  font-size: 1.3rem;
  font-weight: 600;
}

.first-textproducts {
  color: #fff;
  font-size: 1.05rem;
  text-transform: uppercase;
}

.secundy-textproducts {
  color: #e5c173;
  font-size: 3rem;
}

.image-grao-products {
  position: absolute;
  width: 400px;
  top: 70px;
  left: 0px;
  z-index: -1;
  transform: rotate(-32deg);
}

.container-carrousel {
  position: relative;
  max-width: 400px;
}

.carrousel {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.carrousel-wrapper {
  position: relative;
  overflow-x: auto;
}
.carrousel-wrapper::-webkit-scrollbar {
  display: none;
}
.carrousel-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.img-carrousel {
  width: 335px;
  height: auto;
  flex-shrink: 0;
  opacity: 0.5;
}

.current {
  opacity: 1;
}

.btn-next-rigth {
  background: transparent;
  position: absolute;
  top: 250px;
  left: auto;
  right: 0;
  border: none;
  transition: 0.3s;
}

.btn-next-left {
  background: transparent;
  position: absolute;
  top: 250px;
  left: -33px;
  right: auto;
  border: none;
  transition: 0.3s;
}

.btn-arrow {
  font-size: 30px;
  color: #e5c173;
  cursor: pointer;
}

/* Seção Contato */
.contact {
  padding: 4rem 0;
}

.first-textcontact {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

.secundy-textcontact {
  color: #e5c173;
  font-size: 3rem;
}

.container-form {
  width: 500px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact-whats {
  width: auto;
  margin-top: 4rem;
  display: flex;
}

.whats {
  width: 180px;
  background-color: #e5c173;
  padding: 0.6rem;
  border-radius: 10px;
  color: #251309;
  text-align: center;
  opacity: 0.8;
}

.whats:hover {
  opacity: 1;
  box-shadow: 0px 0px 10px 5px rgba(52, 51, 51, 0.409);
}

form {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.user {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.form-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
textarea {
  width: 95%;
  height: 5rem;
}
.button {
  width: 100%;
  padding: 5px;
  border: 1px solid #e5c173;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: #e5c173;
  color: rgb(37, 19, 9);
}

/* footer */
footer {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 2rem;
  padding: 6rem 4rem;
}

.logo-text {
  font-size: 1.6rem;
  color: #e5c173;
  font-weight: 600;
  border-radius: 10px;
}

.sociais {
  color: #e5c173;
  font-weight: 600;
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.icons {
  display: flex;
  gap: 2rem;
}

.icons-container .icones {
  background-color: #e5c173;
  padding: 7px;
  opacity: 0.5;
  border-radius: 50%;
}

.icones {
  font-size: 1.7rem;
  color: #251309;
  transition: all 0.3s;
}

.icones:hover {
  border-radius: 50%;
  transform: scale(1.3);
  opacity: 1;
}

@media (max-width: 1310px) {
  .section {
    padding: 8rem;
  }

  .spacing {
    margin-top: 4rem;
  }

  .image-grao-home {
    max-width: 300px;
    left: -200px;
  }
}

@media (max-width: 1100px) {
  .section {
    padding: 8rem 4rem;
  }
}

@media (max-width: 995px) {
  .title {
    font-size: 2.3rem;
  }
  .sub-title {
    font-size: 2.3rem;
  }
  .first-textabout {
    font-size: 0.9rem;
  }
  .secundy-textabout {
    font-size: 2.3rem;
  }
  .text {
    font-size: 0.95rem;
  }
  .first-textproducts {
    font-size: 0.9rem;
  }
  .secundy-textproducts {
    font-size: 2.3rem;
  }
  .first-textcontact {
    font-size: 0.9rem;
  }
  .secundy-textcontact {
    font-size: 2.3rem;
  }
}

@media (max-width: 890px) {
  .container {
    display: grid;
    justify-items: center;
  }

  .text-container {
    width: 480px;
    text-align: center;
  }

  header {
    padding: 1.1rem 0.4rem;
  }

  .menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0;
    background-color: rgba(37, 19, 9, 0.956);
    transition: 0.4s;
    height: 0;
    z-index: 100;
    visibility: hidden;
    overflow-y: hidden;
  }

  header .nav .menu .icones-menu {
    margin-top: 3rem;
    padding: 1rem;
    font-size: 2rem;
    color: #e5c173;
    text-align: center;
  }

  .nav.show .menu {
    height: calc(100vh - 100px);
    visibility: visible;
  }

  .btn-mobile {
    display: flex;
    padding: 0.8rem;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .hamburguer {
    border-top: 2px solid #e5c173;
    width: 30px;
  }

  .hamburguer::after,
  .hamburguer::before {
    content: "";
    display: block;
    height: 2px;
    width: 30px;
    background-color: #e5c173;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  .nav.show .hamburguer {
    border-top-color: transparent;
  }

  .nav.show .hamburguer::before {
    transform: rotate(135deg);
  }

  .nav.show .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .about-text {
    order: 1;
  }

  .about-image {
    order: 2;
  }

  .contact {
    padding: 0;
  }

  .contact-whats {
    justify-content: center;
    align-items: center;
  }

  .image-galho-home {
    max-width: 300px;
  }

  .image-galho-about {
    max-width: 350px;
    top: 1000px;
    left: -50px;
  }

  .image-grao-home {
    opacity: 0;
  }

  footer {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 510px) {
  .text-container {
    width: 380px;
  }
  .image-cafe {
    width: 400px;
  }

  .image-xicara {
    width: 400px;
  }

  .image-grao-products {
    width: 350px;
    top: 80px;
  }

  .btn-next-left {
    left: 0px;
  }
  .btn-next-rigth {
    right: 50px;
  }

  .container-form {
    width: 250px;
  }
}

@media (max-width: 380px) {
  .text-container {
    width: 270px;
  }
  .image-cafe {
    width: 300px;
  }

  .image-xicara {
    width: 300px;
  }

  .image-grao-products {
    width: 250px;
    top: 80px;
  }

  .image-grao-products {
    left: 100px;
  }

  .btn-next-left {
    left: 0px;
  }
  .btn-next-rigth {
    right: 50px;
  }

  .img-carrousel {
    width: 240px;
  }
}
