
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(37, 19, 9);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden;  */
}

/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    max-width: 1000px;
} */

  header {
    background-color: rgb(37, 19, 9);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  header .logo {
    width: 5rem;
  }

  header .navigation {
    display: inline-flex;
    gap: 5rem;
  }

  header .navigation li {
    list-style: none;
  }
  
  header .navigation .icones-menu {
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    transition: color 0.2s;
  }

  header .navigation .icones-menu:hover,
  header .navigation .icones-menu.active {
    color: #e5c173;
  }

  header .navigation .icones-menu::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #e5c173;
    position: absolute;
    left: 0;
    bottom: -1rem;

    transition: width 0.2s;
  }

  header .navigation .icones-menu:hover::after, header .navigation .icones-menu.icones-menu.active::after {
    width: 100%;
  }


  /* Layout */
  .spacing {
    padding-top: 10rem;
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:center;
    /* display: flex;
    justify-content: space-between; */
    /* padding: 0 1.5rem; */
  }

  .img-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.1rem;
}

  .text-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  .box-text {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 4rem;
  }

  /* Seção Apresentação: home */

  .title {
    font-size: 2.8rem;
    color: #fff;
 }

 .sub-title {
    font-size: 3.5rem;
    color: #e5c173;
 }

 .text {
    color: #fff;
    text-align: justify;
 }
 
.image {
    width: 25rem;
    height: 25rem;
}

 /* Seção about */

.about {
    order: 2;
}

.image-about {
    width: 18rem;
    order: 1;
    overflow: hidden;
}

.text-image {
    color: #e5c173;
    font-size: 1.05rem;
    order: 1;
}

.secundy-title {
    font-size: 1.5rem;
    line-height: 30px;
}

/* Seção Produtos */

.name {
    color: #e5c173;
    font-size: 1.3rem;
    font-weight: 600;
}

.graos {
    filter: drop-shadow(5px 20px 10px rgba(24, 14, 3, 0.849));
    width: 25rem;
}

/* Seção Contato */

.contact {
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 3.8rem 0; */
}

.text-contact {
    color: #fff;
    line-height: 30px;
}

form {
    width: 25rem;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user {
    padding: 8px;
    border-radius: 10px;
    border: none;
}

.form-textarea {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
textarea {
    width: 95%;
    height: 5rem;
}
.button {
    width: 50%;
    padding: 5px;
    border: 1px solid #e5c173;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    transform: scale(1.1);
    background-color: #e5c173;
    color: rgb(37, 19, 9);
}

/* footer */
footer {
    background-image: url("./assets/coffee-g986a956df_1280.png");
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
   justify-content: space-between;
   margin-top: 3rem;
   margin-bottom: 2rem;
   padding: 1.5rem; 
}

.logo-text {
    font-size: 1.6rem;
    background-color:rgb(37, 19, 9);
    color:#e5c173;
    font-weight: 600;
    padding:5px;
    border-radius: 10px;
}

.icons-container {
    padding: 0 5px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.icons {
    display: flex;
    gap: 2rem;
}

.icones {
    font-size: 1.5rem;
    color:#fff;
    transition: all 0.3s;
}

.icones:hover {
    color: rgb(37, 19, 9);
    transform: scale(1.3)
}

@media (max-width: 790px ) {

    header .navigation .icones-menu{
        visibility: hidden;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .text-container{
        width: 80%;
    }
    .box-text {
        gap: 0;
        line-height: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .sub-title {
        font-size: 1.8rem;
    }

    .image {
        width: 20rem;
        height: auto;
    }
    .about {
        order: 1;
    }
    .image-about {
        order: 2;
        width: 14rem;
    }
    .text-image {
        order: 2;
    }

    .products {
        order: 2;
    }
}