@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

input,
textarea {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(37, 19, 9);
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  justify-content: center;
}

header {
  background-color: rgb(37, 19, 9);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  width: 4.5rem;
  /* padding: 0.8rem; */
}

.div-nav{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu {
  display: flex;
  gap: 5rem;
}

.menu a {
  display: block;
}

.btn-mobile {
  display: none;
}

header .menu .icones-menu {
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.2s;
}

header .menu .icones-menu:hover,
header .menu .icones-menu.active {
  color: #e5c173;
}

header .menu .icones-menu::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #e5c173;
  position: absolute;
  left: 0;
  bottom: -0.5rem;

  transition: width 0.2s;
}

header .menu .icones-menu:hover::after,
header .menu .icones-menu.icones-menu.active::after {
  width: 100%;
}

/* Theme */

.switch {
  position: relative;
  width: 3rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5c173;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  z-index: 300;
}

.slider::before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  left: 0.3rem;
  top: 50%;
  background-color: rgb(37, 19, 9);
  transition: 0.4s;
  border-radius: 20px;
  transform: translateY(-50%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(37, 19, 9);
}

input:checked + .slider::before {
  left: calc(100% - 1.7rem);
  background-color: #e5c173;
}

body.ligth-theme, header.ligth-theme  {
  background-color: #eeecec;
}

header.ligth-theme .menu .icones-menu {
  color: rgb(37, 19, 9);
}

.sub-title.ligth-theme, .secundy-text.ligth-theme, .logo-text.ligth-theme, .sociais.ligth-theme, .name.ligth-theme, .text-image.ligth-theme {
  color: #bf7c15;
}

.text.ligth-theme, .first-text.ligth-theme, .title.ligth-theme {
  color: rgb(37, 19, 9);
}


/* Layout */
.section {
  padding: 10rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.img-container {
  text-align: center;
}

.text-container {
  width: 500px;
  text-align: left;
}

/* Seção Apresentação: home */
.image-galho-home {
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.title {
  font-size: 3rem;
  color: #e5c173;
  text-transform: uppercase;
}

.sub-title {
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.text {
  color: #fff;
  line-height: 28px;
  margin-top: 20px;
}

.image-cafe {
  min-width: 200px;
  z-index: 200;
}

.image-grao-home {
  max-width: 200px;
  position: absolute;
  top: 500px;
  left: 40px;
  z-index: -1;
}

/* Seção about */

.about {
  order: 2;
}

.image-xicara {
  width: 500px;
  /* max-width: 600px; */
  height: auto;
  order: 1;
  overflow: hidden;
}

.text-image {
  color: #e5c173;
  font-size: 1.05rem;
  order: 1;
}

.first-text {
  color: #fff;
  font-size: 1.05rem;
  text-transform: uppercase;
}
.secundy-text {
  color: #e5c173;
  font-size: 3rem;
  line-height: 50px;
  margin-top: 20px;
  text-transform: uppercase;
}

.about {
  position: relative;
}

.image-galho-about {
  position: absolute;
  width: 500px;
  top: 1300px;
  left: -50px;
  z-index: -1;
  transform: rotate(180deg);
}

/* Seção Produtos */

.name {
  color: #e5c173;
  font-size: 1.3rem;
  font-weight: 600;
}

.image-container {
  position: relative;
}

.image-grao-products {
  position: absolute;
  width: 400px;
  top: 0px;
  left: 0px;
  z-index: -1;
  transform: rotate(-32deg);
}

.image-grao-products1 {
  display: none;
  position: absolute;
  width: 400px;
  top: 50px;
  left: 0px;
  z-index: -1;
  transform: rotate(-32deg);
}

.image-products {
  width: 335px;
}

/* Seção Contato */
.contact {
  padding: 4rem 0;
}

.container-form {
  width:400px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.contact-whats {
  width: auto;
  margin-top: 2rem;
  display: flex;
}

.whats {
  width: 180px;
  background-color: #e5c173;
  padding: 0.6rem;
  border-radius: 10px;
  color: #251309;
  text-align: center;
  opacity: 0.8;
  font-weight: 600;
}

.whats:hover {
  opacity: 1;
}

form {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.input {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.input:focus {
  border: 3px solid #bf7c15;
}


.form-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

textarea {
  width: 95%;
  height: 5rem;
}

.button {
  width: 100%;
  padding: 0.6rem;
  border: none;
  background: #e5c173;
  color: rgb(37, 19, 9);
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.8;
}

.button:hover {
  opacity: 1;
}

/* footer */
footer {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 2rem;
  padding: 6rem 4rem;
}

.logo-text {
  font-size: 1.6rem;
  color: #e5c173;
  font-weight: 600;
  border-radius: 10px;
}

.sociais {
  color: #e5c173;
  font-weight: 600;
  text-align: center;
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.icons {
  display: flex;
  gap: 2rem;
}

.icons-container .icones {
  background-color: #e5c173;
  padding: 7px;
  opacity: 0.5;
  border-radius: 50%;
}

.icones {
  font-size: 1.7rem;
  color: #251309;
  transition: all 0.3s;
}

.icones:hover {
  border-radius: 50%;
  transform: scale(1.3);
  opacity: 1;
}

@media (max-width: 1310px) {
  .spacing {
    margin-top: 4rem;
  }

}


@media (max-width: 995px) {
  .title {
    font-size: 2.3rem;
  }
  .sub-title {
    font-size: 2.3rem;
  }
  .first-text {
    font-size: 0.9rem;
  }
  .secundy-text {
    font-size: 2.3rem;
  }
  .text {
    font-size: 1rem;
  }
}

@media (max-width: 910px) {
  .section {
    padding: 6rem 3rem;
  }

  .container {
    flex-direction: column;
    justify-items: center;
  }

  .text-container {
    text-align: center;
  }

  .secundy-text {
    padding: 0 2rem;
  }

  .text{
    padding: 0 4rem;
  }

  .menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0;
    background-color: rgba(37, 19, 9, 0.956);
    transition: 0.4s;
    height: 0;
    z-index: 100;
    visibility: hidden;
    overflow-y: hidden;
  }

  header .nav .menu .icones-menu {
    margin-top: 3rem;
    padding: 1rem;
    font-size: 2rem;
    color: #e5c173;
    text-align: center;
  }

  .nav.show .menu {
    height: calc(100vh - 100px);
    visibility: visible;
  }

  .btn-mobile {
    display: flex;
    cursor: pointer;
    background: transparent;
    border: none;
  }

  .hamburguer {
    border-top: 2px solid #e5c173;
    width: 30px;
    cursor: pointer;
  }

  .hamburguer::after,
  .hamburguer::before {
    content: "";
    display: block;
    height: 2px;
    width: 30px;
    background-color: #e5c173;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  .nav.show .hamburguer {
    border-top-color: transparent;
  }

  .nav.show .hamburguer::before {
    transform: rotate(135deg);
  }

  .nav.show .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .about-text {
    order: 1;
  }

  .about-image {
    order: 2;
  }

  .contact {
    padding: 0;
  }

  .contact-whats {
    justify-content: center;
    align-items: center;
  }

  .image-galho-home {
    max-width: 300px;
  }

  .image-galho-about {
    max-width: 350px;
    top: 1800px;
    left: -30px;
  }

  .image-grao-home {
    top: 710px;
    left: 20;
  }

  .image-cafe {
    width: 400px;
  }

  .image-xicara {
    width: 400px;
  }

  footer {
    flex-direction: column;
    justify-content: center;
  }

  .container-form {
    width: 80%
  }

}

@media (max-width: 600px) {
  
  .text-container {
    width: auto;
  }

  .image-xicara {
    width: 310px;
  }

  .image-grao-products {
    width: 350px;
    top: 0px;
    left: -20px;
  }

  .image-galho-about {
    max-width: 300px;
    top: 1950px;
    left: -50px;
  }

  .image-grao-home {
    top: 600px;
    left: 0;
  }

  .image-products {
    width: 235px;
  }
}

@media (max-width: 560px) {
  .text {
    padding: 0 1rem;
  }

  .image-cafe {
    width: 380px;
  }

  .image-xicara {
    width: 340px;
  }

  .image-grao-products {
    width: 300px;
    top: 10px;
    left: 0px;
  }

  .image-galho-about {
    top: 1800px
  }

  .text {
    padding: 0;
  }
}

@media (max-width: 485px) {
  .image-galho-about {
    top: 1900px;
  }
 .container-form {
  width: 100%;
 }

 .image-grao-products {
  width: 200px;
  top: 120px;
  left:5px;
}
.image-grao-products1 {
  display: block;
  width: 200px;
  top: 120px;
  left: 50px;
}

.image-cafe {
  width: 300px;
}

.image-xicara {
  width: 290px;
}
}

@media (max-width: 385px) {
  .section {
    padding: 6rem 1rem;
  }
  .image-galho-home{
    top:0;
   }
  .image-galho-about {
    top: 1700px;
  }

}

@media (max-width: 375px) {
  .image-grao-products {
    width: 180px;
    top: 120px;
    left:5px;
  }
  .image-grao-products1 {
    width: 180px;
    top: 120px;
    left: 70px;
  }
}

@media (max-width: 340px){
   .title {
    font-size: 1.9rem;
  }
  .sub-title {
    font-size: 1.9rem;
  }
  .secundy-text{
    font-size: 1.9rem;
  }
  .text {
    padding: .9rem;
    font-size: .8rem;
  }
  .image-cafe {
    width: 250px;
  }
}

/* ScrollReveal */

.home-text, .image-cafe, .about-text, .about-image, .products-text, .products-image, .contact-text, .input {
  visibility: hidden;
  
}