
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
  }

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(37, 19, 9);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden;  */
}

  header {
    background-color: rgb(37, 19, 9);
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .logo {
    width: 5rem;
    padding: .8rem;
  }

  .menu {
    display: flex;
    gap: 5rem;
    padding: 0 10px;
  }
  
  .menu a {
    display: block;
  }

  .btn-mobile {
    display: none;
  }

  header .menu .icones-menu {
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    transition: color 0.2s;
  }

  header .menu .icones-menu:hover,
  header .menu .icones-menu.active {
    color: #e5c173;
  }

  header .menu .icones-menu::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: #e5c173;
    position: absolute;
    left: 0;
    bottom: -.5rem;

    transition: width 0.2s;
  }

  header .menu .icones-menu:hover::after, header .menu .icones-menu.icones-menu.active::after {
    width: 100%;
  }

  /* Layout */
  .spacing {
    padding-top: 10rem;
  }

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:center;
    position: relative;
  }

  .img-container {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.1rem; */
}

  .text-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  .box-text {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 4rem;
  }

  /* Seção Apresentação: home */

  .title {
    font-size: 2.8rem;
    color: #fff;
 }

 .sub-title {
    font-size: 3.5rem;
    color: #e5c173;
 }

 .text {
    color: #fff;
    text-align: justify;
 }
 
.image {
    width: 70%;
    min-width: 200px
}

 /* Seção about */

.about {
    order: 2;
}

.image-about {
    width: 70%;
    order: 1;
    overflow: hidden;
}

.text-image {
    color: #e5c173;
    font-size: 1.05rem;
    order: 1;
}

.secundy-title {
    font-size: 1.5rem;
    line-height: 30px;
}

/* Seção Produtos */

.name {
    color: #e5c173;
    font-size: 1.3rem;
    font-weight: 600;
}

/* .graos {
    filter: drop-shadow(5px 20px 10px rgba(24, 14, 3, 0.849));
    width: 75%;
} */

.container-carrousel {
    position: relative;
    max-width: 400px;
    padding: 20px;
    margin:10px;
    border: 1px solid #e5c173;
}

.carrousel {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.carrousel-wrapper {
    overflow-x: auto;
}
.carrousel-wrapper::-webkit-scrollbar {
    display: none;
}
.carrousel-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.img-carrousel {
    width: 335px;
    height: auto;
    flex-shrink:0;
    opacity: .5;
}

.current {
    opacity: 1;
}

.btn-next{
    width: 30px;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    font-size: 22px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background:linear-gradient(to right, transparent 0%, #e5c173 200%);
    opacity: .5;
    transition: .3s;
}

.btn-next:hover {
    opacity: 1;
}
/* Seção Contato */

.text-contact {
    color: #fff;
    line-height: 30px;
}

.title-contact {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
}

.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

form {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 1rem;
    margin: 0 2rem;
}

.user {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

.form-textarea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
textarea {
    width: 95%;
    height: 5rem;
}
.button {
    width: 50%;
    padding: 5px;
    border: 1px solid #e5c173;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    transform: scale(1.1);
    background-color: #e5c173;
    color: rgb(37, 19, 9);
}

/* footer */
footer {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items:center;
   justify-content: space-between;
   margin-top: 7rem;
   margin-bottom: 2rem;
   padding:0 1.3rem; 
}

.logo-text {
    width: 20rem;
    font-size: 1.6rem;
    background-color:rgb(37, 19, 9);
    color:#e5c173;
    font-weight: 600;
    border-radius: 10px;
}

.icons-container {
    background-color: #e5c173;
    width: 20rem;
    padding: 8px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.icons-container .icons {
    color:rgb(37, 19, 9);
    font-weight: 600;
}

.icons {
    display: flex;
    gap: 2rem;
}

.icons-container .icones {
    font-size: 1.5rem;
    color:rgb(37, 19, 9);
    transition: all 0.3s;
}

.icones:hover {
    border-radius: 50%;
    color:#fff;
    transform: scale(1.3)
}

@media (max-width: 790px ) {
    .container {
        /* width: 45rem; */
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0;
        background-color:rgba(37, 19, 9, 0.781) ;
        text-align: center;
        transition: .4s;
        height: 0;
        z-index: 100;
        visibility: hidden;
        overflow-y: hidden;
    }

    header .nav .menu .icones-menu {
        padding: 1.3rem;
        font-size: 2rem;
        color: #e5c173;
        text-align: center;
    }

    .nav.show .menu {
        height: calc(100vh - 100px);
        visibility: visible;
    }

    .btn-mobile {
        display: flex;
        padding: .8rem;
        cursor: pointer;
        background: transparent;
        border: none;
    }

    .hamburguer {
        border-top: 2px solid #e5c173;
        width: 30px;
    }

    .hamburguer::after, .hamburguer::before {
        content: "";
        display: block;
        height: 2px;
        width: 30px;
        background-color: #e5c173;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    .nav.show .hamburguer {
        border-top-color: transparent;
    }

    .nav.show .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.show .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .text-container{
        width: 80%;
        padding: .9rem;
    }
    .box-text {
        gap: 0;
        line-height: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .sub-title {
        font-size: 1.8rem;
    }

    .about {
        order: 1;
    }
    .image-about {
        order: 2;
        width: 14rem;
    }
    .text-image {
        order: 2;
    }

    .products {
        order: 1;
    }

    .graos{
        order: 2;
    }
    
}

@media (max-width: 499px){

    header {
        padding: 1.1rem .4rem;
    }
    .text-contact {
        text-align: center;
    }

    footer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .icons-container .icones {
        color: #fff;
    }
    .logo-text {
       text-align: left;
       gap: 0;
    }
    .sociais {
        color: #fff;
        font-size: 0.8rem;
    }
    .icons-container {
        background-color: transparent;
        gap: 15px;
        padding: 0;
     }
     .logo-text {
         width: 10rem;
         text-align: center;
         font-size: 1rem;
     }

     .container-carrousel {
        max-width: 300px;
    }

    .img-carrousel {
        width: 230px;
    }
}

@media (max-width: 396px) {
    .container-carrousel {
        max-width: 210px;
    }

    .img-carrousel {
        width: 150px;
    }
}


@media (max-width: 240px) {
    .sub-title {
        font-size: 1.5rem;
    }
    .text{
        font-size: .9rem;
    }
    .name {
        font-size: 1rem;
    }
}